<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Ruby on Rails: Welcome aboard</title>
	<link href="stylesheets/test.css" rel="stylesheet" type="text/css">
 </head>
  <body>
	<h1>Hello</h1>
	<p id="grey">Welcome to my first RoR page!</p>
  </body>
</html>
